<div fxLayout="row" fxLayoutAlign="space-around center" >

      
        <mat-card class="card-width"  (click)="showDiv()" *ngIf="flag===false" style="margin:2em;"  [class.mat-elevation-z8]="!isActive">
            <div fxLayout="row" fxLayoutAlign="space-around center" >
            <input matInput placeholder="Take a note.." [style.fontSize.px]=17>
            <button mat-icon-button matTooltip="New note with drawing">
                <mat-icon style="font-size: 20px" class="mat-18 changeColor">
                   check_box
                   </mat-icon ></button>
            <button mat-icon-button matTooltip="New List">
                <mat-icon style="font-size: 20px" class="mat-18 changeColor">brush</mat-icon>
               </button>
               <button mat-icon-button matTooltip="New List">
                  <mat-icon style="font-size: 20px" class="mat-18 changeColor">crop_original</mat-icon>
                 </button>
              
          </div>
        </mat-card>
     

       
          <mat-card class="new-card" *ngIf="flag===true" style="margin:2em;"  [class.mat-elevation-z8]="!isActive">
              <div fxLayout="column" fxLayoutAlign="space-around">
            <div fxLayout="row" fxLayoutAlign="space-around center" >
              <input matInput placeholder="Title.." [style.fontSize.px]=17>
              <button class="pinIcon" mat-icon-button matTooltip="Pin/Unpin Note" (click)="pin(item)">
                <ng-container *ngIf="pinValue===false">
                    <mat-icon style="font-size: 20px" class="mat-18 changeColor" svgIcon="unpinIcon"></mat-icon>
                </ng-container>
                <ng-container *ngIf="pinValue===true">
                    <mat-icon style="font-size: 20px" class="mat-18 changeColor" svgIcon="pinIcon"></mat-icon>
                </ng-container>
              </button>
            </div>
              
                    <input matInput placeholder="Take a note..." [style.fontSize.px]=14 style="margin:0em; padding-top: 10px">
                    <app-footermenu></app-footermenu>
                  </div>
          </mat-card>
        
      
</div>