<div fxLayout="row" fxLayoutAlign="space-around center" >
<mat-accordion class="accordion-example">
    <mat-expansion-panel class="expansion-example">
      <mat-expansion-panel-header>
        <mat-panel-title>
            <mat-form-field appearance="fill">
                <input matInput placeholder="First name">
              </mat-form-field>
        </mat-panel-title>
       
      </mat-expansion-panel-header>
  
      <mat-form-field>
        <input matInput placeholder="First name">
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Age">
      </mat-form-field>
    </mat-expansion-panel>
    
  </mat-accordion>
</div>