<html>
  <body>
     <div class="forMedia">
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <div class="container" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px"
      fxLayoutGap.xs="0" >
      <div class="item item-1" fxFlex="15%">
<mat-card class="example-card">
  <mat-card-header class="example-header">
  
      <mat-card-title class="example-name-main">FUNDOO NOTES APP</mat-card-title>
       <mat-card-subtitle class="example-name">ACCOUNT RECOVERY</mat-card-subtitle>
       <mat-card-subtitle class="example-name">to Fundoo Notes App</mat-card-subtitle>
     </mat-card-header>

      <div class="example-container">
    <mat-form-field appearance="outline">
        <mat-label>Set New Password</mat-label>
        <input [formControl]="password" matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error>
        <mat-hint>hint : require minimum 6 characters</mat-hint>
      </mat-form-field>
      
      <mat-card-actions class="example-button">
          <a mat-raised-button color="primary" routerLink="/login" class="example-name-bottom">Reset Password</a>
          <a mat-flat-button routerLink="/login"><a class="example-color">Back</a></a>
          
        </mat-card-actions>
        
      </div>
  </mat-card>
  </div>
  </div>
  </form>
</div>
</body>
  </html>