
<div fxLayout="row wrap" fxLayoutAlign="space-between center" >
        <div *ngFor="let note of data">
                <div fxLayout="column" fxLayoutAlign="space-between start" >
                        <mat-card class="card-width" [ngStyle]="{'backgroundColor': color}" [class.mat-elevation-z3]="!isActive">
                <div fxLayout="column" >

           <div class="title"> {{note.title}}</div>
        
        
           <div class="description">{{note.description}}</div> 
     
    <app-footermenu></app-footermenu></div>
    </mat-card>
</div>
    </div></div>