<mat-card class="example-card">
    <mat-card-header class="example-header">
    
        <mat-card-title class="example-name-main">FUNDOO NOTES APP</mat-card-title>
         <mat-card-subtitle class="example-name">SIGN IN</mat-card-subtitle>
         <mat-card-subtitle class="example-name">to Fundoo Notes App</mat-card-subtitle>
       </mat-card-header>

        <div class="example-container">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username">
      </mat-form-field>
      <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <mat-card-footer>
        <mat-card-subtitle class="example-name-link">forgot password?</mat-card-subtitle></mat-card-footer>
        <mat-card-actions class="example-button">
            <a mat-raised-button color="primary" routerLink="/dashboard" class="example-name-bottom">SIGN IN</a>
            <a mat-flat-button routerLink="/registration"><a class="example-color">Register Here</a></a>
            
          </mat-card-actions>
        </div>
    </mat-card>