
<!-- <div fxLayout="row wrap" fxFlex="90" fxLayoutAlign="center center" >
    <div *ngFor="let note of data | searchBar : Search; let i = index">
      <div [ngClass]="{'grid': toggle,'list'!toggle}">
        <div fxLayout="column" fxLayoutAlign="space-between start">
            <mat-card class="card-width" [ngStyle]="{'backgroundColor': note.color}" >
                <div fxLayout="column" >
                    <div class="description" (click)="openDialog(note)">{{note.title}}</div> 
                </div>
            </mat-card>
        </div>
    </div></div>
</div> -->